<!DOCTYPE html>
<html>
  <head>
    <title>AssigmentRor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <main class="container mx-auto mt-5 px-5">
      <% if flash[:notice] %>
        <div class="bg-blue-100 border-t border-b border-blue-500 text-blue-700 px-4 py-3" role="alert">
          <p class="font-bold"><%= flash[:notice] %></p>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div class="bg-red-100 border-t border-b border-red-500 text-red-700 px-4 py-3" role="alert">
          <p class="font-bold"><%= flash[:alert] %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
    <%= render partial: 'shared/footer' %>
  </body>
</html>
